html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    text-align: center;
    font-family: "Dosis", sans-serif;
}

.paragraph {
    font-weight: 500;
    font-size: 35px;
    margin-top: 50px;
}
